**IMPORTS**

In [ ]:
import requests
import json 
import pandas as pd
from bs4 import BeautifulSoup
import sqlalchemy
from sqlalchemy import create_engine
!pip install mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.10/dist-packages (2.1.1)

**API KEYS AND CONNECTION DETAILS**

In [ ]:
#api key 
# cian.o.jr@outlook.com = API_KEY
# cobrie31@lion.lmu.edu = API_KEY
api_key='API_KEY'
#api endpoint
api_url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'
#headers
headers = {'Content-type': 'application/json'}
#The following are all monthly indices
  # National Employment Data : CEU0800000003
  # Job Openings and Turnover : JTU110099000000000HIL
  # CPI (Consumer Price Index) : CUUR0000SA0L1E
  # PPI (Producer Price Index) : PCU22112222112241
  # Consumer Expenditure : CXUMENBOYSLB0101M
#params
data = json.dumps({"seriesid": ['CEU0800000003'],"startyear":"2012", "endyear":"2020"})


**THE FOLLOWING 5 CODE SCRIPTS ARE FOR ECONOMIC INDICATORS FROM THE BUREAU OF LABOR STATISTICS.**

**PULLS DATA FROM THEIR API, PUTS INTO DATA FRAME, THEN INJECTS INTO DATABASE**

In [ ]:
#Code for National Employment Data - BLS

# National Employment Data : CEU0800000003
data = json.dumps({"seriesid": ['CEU0800000003'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }

# loop through data  
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('National_Employment_Data', engine, if_exists='append', index=False)

120

In [ ]:
#Code for Job Openings and Turnover - BLS

# Job Openings and Turnover : JTU110099000000000HIL
data = json.dumps({"seriesid": ['JTU110099000000000HIL'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }
    
# loop through data  
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('Job_Openings_and_Turnover', engine, if_exists='append', index=False)

120

In [ ]:
#Code for CPI - BLS

# CPI (Consumer Price Index) : CUUR0000SA0L1E
data = json.dumps({"seriesid": ['CUUR0000SA0L1E'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }
    
# loop through data  
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('CPI', engine, if_exists='append', index=False)

120

In [ ]:
#Code for PPI - BLS

# PPI (Producer Price Index) : PCU22112222112241
data = json.dumps({"seriesid": ['PCU22112222112241'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }
    
# loop through data  
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('PPI', engine, if_exists='append', index=False)

120

In [ ]:
#Code for Consumer Expenditure - BLS

# Consumer Expenditure : CXUMENBOYSLB0101M
data = json.dumps({"seriesid": ['CXUMENBOYSLB0101M'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }
# loop through data
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('Consumer_Expenditure', engine, if_exists='append', index=False)

10

**THE FOLLOWING CODE SCRIPT IS FOR HOUSEHOLD INCOME DISTRIBUTION IN THE UNITED STATES FROM STATISTA**

**THEY DID NOT HAVE AN API, SO I DOWNLOADED THEIR EXCEL, CLEANED IT UP, AND INJECTED IT INTO THE DATABASE**

In [ ]:
# Income Distribution Data from Statista
# Read the Excel file into a DataFrame
df = pd.read_excel("Statista_Median_Household_Income_Distribution.xlsx", sheet_name="Data")

# Print the first few rows of the DataFrame to verify the import
print(df.head())

#defining engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')

#inserting into database
df.to_sql('Median_Income_Distribution', engine, if_exists='append', index=False)

**THE FOLLOWING CODE SCRIPT IS FOR FOOD SPENDING BY DEMOGRAPHICS FROM THE NATIONAL LIBRARY OF MEDICINE**

**THEY DID NOT HAVE AN API, SO I DOWNLOADED THEIR EXCEL, CLEANED IT UP, AND INJECTED IT INTO THE DATABASE**

In [ ]:
# Food Spending by Age Data from National Library of Medicine
# Read the Excel file into a DataFrame
df = pd.read_excel("Food_Spending.xlsx", sheet_name="Age")

# Print the first few rows of the DataFrame to verify the import
print(df.head())

#defining engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')

#inserting into database
df.to_sql('Food_Spending_By_Age', engine, if_exists='append', index=False)

In [ ]:
# Food Spending by Gender Data from National Library of Medicine
# Read the Excel file into a DataFrame
df = pd.read_excel("Food_Spending.xlsx", sheet_name="Gender")

# Print the first few rows of the DataFrame to verify the import
print(df.head())

#defining engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')

#inserting into database
df.to_sql('Food_Spending_By_Gender', engine, if_exists='append', index=False)

In [ ]:
# Food Spending by Ethnicity Data from National Library of Medicine
# Read the Excel file into a DataFrame
df = pd.read_excel("Food_Spending.xlsx", sheet_name="Ethnicity")

# Print the first few rows of the DataFrame to verify the import
print(df.head())

#defining engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')

#inserting into database
df.to_sql('Food_Spending_By_Ethnicity', engine, if_exists='append', index=False)