**IMPORTS**

In [ ]:
import requests
import json 
import pandas as pd
from bs4 import BeautifulSoup
import sqlalchemy
from sqlalchemy import create_engine
!pip install mysqlclient

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysqlclient in /usr/local/lib/python3.10/dist-packages (2.1.1)

**API KEYS AND CONNECTION DETAILS**

In [ ]:
#api key 
# cian.o.jr@outlook.com = API_KEY
# cobrie31@lion.lmu.edu = API_KEY
api_key='API_KEY'
#api endpoint
api_url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'
#headers
headers = {'Content-type': 'application/json'}
#The following are all monthly indices
  # National Employment Data : CEU0800000003
  # Job Openings and Turnover : JTU110099000000000HIL
  # CPI (Consumer Price Index) : CUUR0000SA0L1E
  # PPI (Producer Price Index) : PCU22112222112241
  # Consumer Expenditure : CXUMENBOYSLB0101M
#params
data = json.dumps({"seriesid": ['CEU0800000003'],"startyear":"2012", "endyear":"2020"})


**THE FOLLOWING 5 CODE SCRIPTS ARE FOR ECONOMIC INDICATORS FROM THE BUREAU OF LABOR STATISTICS.**

**PULLS DATA FROM THEIR API, PUTS INTO DATA FRAME, THEN INJECTS INTO DATABASE**

In [ ]:
#Code for National Employment Data - BLS

# National Employment Data : CEU0800000003
data = json.dumps({"seriesid": ['CEU0800000003'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }

# loop through data  
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('National_Employment_Data', engine, if_exists='append', index=False)

120

In [ ]:
#Code for Job Openings and Turnover - BLS

# Job Openings and Turnover : JTU110099000000000HIL
data = json.dumps({"seriesid": ['JTU110099000000000HIL'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }
    
# loop through data  
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('Job_Openings_and_Turnover', engine, if_exists='append', index=False)

120

In [ ]:
#Code for CPI - BLS

# CPI (Consumer Price Index) : CUUR0000SA0L1E
data = json.dumps({"seriesid": ['CUUR0000SA0L1E'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }
    
# loop through data  
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('CPI', engine, if_exists='append', index=False)

120

In [ ]:
#Code for PPI - BLS

# PPI (Producer Price Index) : PCU22112222112241
data = json.dumps({"seriesid": ['PCU22112222112241'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }
    
# loop through data  
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('PPI', engine, if_exists='append', index=False)

120

In [ ]:
#Code for Consumer Expenditure - BLS

# Consumer Expenditure : CXUMENBOYSLB0101M
data = json.dumps({"seriesid": ['CXUMENBOYSLB0101M'],"startyear":"2012", "endyear":"2022"})
api_request = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data=data, headers=headers)
api_response = json.loads(api_request.text)
econ_data = api_response['Results']['series']

#Initialize Dictionary
economic_data={
    'year':[],
    'period':[],
    'periodName':[],
    'value':[]
    }
# loop through data
for data in econ_data:
    for d in data['data']:
        economic_data['year'].append(d['year'])
        economic_data['period'].append(d['period'])
        economic_data['periodName'].append(d['periodName'])
        economic_data['value'].append(d['value'])
# turn it into a data frame
df = pd.DataFrame(economic_data)
# define engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')
# insert into database
df.to_sql('Consumer_Expenditure', engine, if_exists='append', index=False)

10

**THE FOLLOWING CODE SCRIPT IS FOR HOUSEHOLD INCOME DISTRIBUTION IN THE UNITED STATES FROM STATISTA**

**THEY DID NOT HAVE AN API, SO I DOWNLOADED THEIR EXCEL, CLEANED IT UP, AND INJECTED IT INTO THE DATABASE**

In [ ]:
# Income Distribution Data from Statista
# Read the Excel file into a DataFrame
df = pd.read_excel("Statista_Median_Household_Income_Distribution.xlsx", sheet_name="Data")

# Print the first few rows of the DataFrame to verify the import
print(df.head())

#defining engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')

#inserting into database
df.to_sql('Median_Income_Distribution', engine, if_exists='append', index=False)

**THE FOLLOWING CODE SCRIPT IS FOR FOOD SPENDING BY DEMOGRAPHICS FROM THE NATIONAL LIBRARY OF MEDICINE**

**THEY DID NOT HAVE AN API, SO I DOWNLOADED THEIR EXCEL, CLEANED IT UP, AND INJECTED IT INTO THE DATABASE**

In [ ]:
# Food Spending by Age Data from National Library of Medicine
# Read the Excel file into a DataFrame
df = pd.read_excel("Food_Spending.xlsx", sheet_name="Age")

# Print the first few rows of the DataFrame to verify the import
print(df.head())

#defining engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')

#inserting into database
df.to_sql('Food_Spending_By_Age', engine, if_exists='append', index=False)

In [ ]:
# Food Spending by Gender Data from National Library of Medicine
# Read the Excel file into a DataFrame
df = pd.read_excel("Food_Spending.xlsx", sheet_name="Gender")

# Print the first few rows of the DataFrame to verify the import
print(df.head())

#defining engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')

#inserting into database
df.to_sql('Food_Spending_By_Gender', engine, if_exists='append', index=False)

In [ ]:
# Food Spending by Ethnicity Data from National Library of Medicine
# Read the Excel file into a DataFrame
df = pd.read_excel("Food_Spending.xlsx", sheet_name="Ethnicity")

# Print the first few rows of the DataFrame to verify the import
print(df.head())

#defining engine
engine = create_engine('mysql://USERNAME:PASSWORD@HOST/DATABASE')

#inserting into database
df.to_sql('Food_Spending_By_Ethnicity', engine, if_exists='append', index=False)

**INSTALLATIONS AND EXTENSIONS**

In [2]:
%load_ext sql
!pip install mysqlclient
!pip install ipython-sql
!pip install SQLAlchemy==1.4.4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysqlclient
  Downloading mysqlclient-2.1.1.tar.gz (88 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.1/88.1 kB 3.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.1.1-cp310-cp310-linux_x86_64.whl size=108353 sha256=7d9c967ff8de99acbd4374f8d190bb14d00036707883c3d9dd98ec94feb8d69b
  Stored in directory: /root/.cache/pip/wheels/7d/34/ba/a769c165b01646816afdf9bf792e847ef149693fee432b6b65
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ipython-sql in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (2.0.10)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (7.34.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (2.14.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (3.0.38)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (67.7.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql) (5.7.1)
Collecting jedi>=0.16
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 14.5 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql) (4.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.6)
Installing collected packages: jedi
Successfully installed jedi-0.18.2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting SQLAlchemy==1.4.4
  Downloading SQLAlchemy-1.4.4.tar.gz (7.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.5/7.5 MB 60.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.4) (2.0.2)
Building wheels for collected packages: SQLAlchemy
  Building wheel for SQLAlchemy (setup.py) ... done
  Created wheel for SQLAlchemy: filename=SQLAlchemy-1.4.4-cp310-cp310-linux_x86_64.whl size=1513274 sha256=3cd3882d4cc91b8739f236a30427de7bad329a643faaa74b219ae86c5735ce1c
  Stored in directory: /root/.cache/pip/wheels/af/c3/55/803261c43577195a922fd6aead99e6b4ed9be457dee35a1600
Successfully built SQLAlchemy
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.10
    Uninstalling SQLAlchemy-2.0.10:
      Successfully uninstalled SQLAlchemy-2.0.10
Successfully installed SQLAlchemy-1.4.4

**CONNECTING TO DATABASE INSTANCE**

In [3]:
%sql mysql://USERNAME:PASSWORD@HOST/DATABASE

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
module 'sqlalchemy.util.compat' has no attribute 'TYPE_CHECKING'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

**THE FOLLOWING CELLS ARE BASIC QUERIES TO CHECK ALL THE TABLES IN MY DATABASE AND ENSURE DATA QUALITY**

EXPLORATORY: DATA QUALITY CHECK FOR MONTHLY ECONOMIC DATA, MONTH OVER MONTH

In [4]:
%%sql
SELECT *
FROM National_Employment_Data ned 
	JOIN Consumer_Expenditure ce 
		ON ned.year = ce.year
	JOIN CPI c 
		ON c.year = ned.year
		AND c.period = ned.period
	JOIN Job_Openings_and_Turnover joat 
		ON joat.year = ned.year
		AND joat.period = ned.period
	JOIN PPI p 	
		ON p.year = ned.year
		AND p.period = ned.period	
ORDER BY ned.year DESC, ned.period;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

*Insight: Clean and full dataset. How has the economy been performing?*

EXPLORATORY: DATA QUALITY CHECK FOR ANNUAL ECONOMIC AND INCOME DISTRIBUTION DATA

In [5]:
%%sql
SELECT *
FROM Consumer_Expenditure ce 
	JOIN Median_Income_Distribution mid2 
		ON ce.year = mid2.year;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

*Insight: Clean and full dataset. How has income distribution changed for America and how can Walmart take advantage of it?*

EXPLORATORY: DATA QUALITY CHECK FOR FOOD SPENDING DATA

In [6]:
%%sql
SELECT *
FROM Food_Spending_By_Age fsba;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

*Insight: Clean and full dataset. Which demographics spend the most on food at home?*

In [7]:
%%sql
SELECT *
FROM Food_Spending_By_Ethnicity fsbe;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

*Insight: Clean and full dataset. Which demographics spend the most on food at home?*

In [ ]:
%%sql
SELECT *
FROM Food_Spending_By_Gender fsbg;

*Insight: Clean and full dataset. Which demographics spend the most on food at home?*

**THE FOLLOWING CELLS ARE STILL EXPLORATORY AND ARE USED TO HELP ME DISCOVER INSIGHTS FOR THE SUPPLEMENTARY QUERIES**

EXPLORATORY: FINDING AVERAGES OF FOOD AT HOME SPENDING

In [ ]:
%%sql
WITH cte_food_spending_by_age AS (
  SELECT 
    age,
    percentage_of_respondents AS PercentOfGroup,
    FAH_per_week_4_year_avg AS WeeklyAvg4Year,
    percentage_of_respondents * FAH_per_week_4_year_avg / 100 AS WeeklyAvgTotalFAH4Year
  FROM Food_Spending_By_Age
)
SELECT 
	SUM(WeeklyAvgTotalFAH4Year) AS FAH_Average_Weekly_Spent_4_Year
FROM cte_food_spending_by_age;

*Insight: I was interested to see what the average American spent on food at home, as food makes up around 60% of Walmart Inc.'s unit sales. Now that I know the average I plan to see which specific demogrpahics Walmart can prioritize and market to in order to maximize profit.*

EXPLORATORY: FINDING AVERAGE JOB OPENING & LABOR TURNOVER BY MONTH

In [ ]:
%%sql
SELECT 
	periodName AS month,
	AVG(value) AS Average_JOLT_per_Month
FROM Job_Openings_and_Turnover joat 
GROUP BY period
ORDER BY AVG(value);

*Insight: If Walmart were to expand I was curious when there are the most openings in the job market. Walmart would want to avoid these months as it would make hiring much more competitive. I plan to find the average so I can utilize this information better.*

EXPLORATORY: FINDING OVERALL AVERAGE JOB OPENING & LABOR TURNOVER

In [ ]:
%%sql
SELECT 
    AVG(value) AS Average_JOLT
FROM Job_Openings_and_Turnover

*Insight: Like I said before, knowing when there are the most job openings during different parts of the year can help Walmart prioritize hiring times. Even if they choose not to expand with the combinations of this and the previous query, the company can focus avoid wasting hiring resources during the upswings in job openings.*

**Primary Question: Based on the current economic indicators and trends, is this a good time for expansion currently?**

Justification: The primary question I wanted to answer with all of this data analysis was whether or not it was a good time for Walmart to expand, either by location or product range. Although Walmart is relatively recession proof due to it's nature of providing low cost products, it would not be advisable to do so during an economic downturn.

Features Used:
- Group By
- Join

In [ ]:
%%sql
SELECT 
	ned.year, 
	ROUND(AVG(ned.value),2) AS Employment_Index,
	ROUND(AVG(joat.value), 2) AS Job_Opening_Turnover_Index,
	ROUND(AVG(c.value), 2) AS CPI_Index,
	ROUND(AVG(p.value), 2) AS Producer_Price_Index,
	ROUND(AVG(ce.value), 2) AS Consumer_Exp_Index
FROM National_Employment_Data ned 
	JOIN Consumer_Expenditure ce 
		ON ned.year = ce.year
	JOIN CPI c 
		ON c.year = ned.year
		AND c.period = ned.period
	JOIN Job_Openings_and_Turnover joat 
		ON joat.year = ned.year
		AND joat.period = ned.period
	JOIN PPI p 	
		ON p.year = ned.year
		AND p.period = ned.period	
GROUP BY year
ORDER BY year DESC;

*Insights: I used the economic indicators of a National Employment Index (aggregate of hours worked and wages thorugout US), a Job Openings and Labor Turnover Index (aggregate job openings, those who quit, and those who were fired), a Consumer and Producer Price Index (measurement of inflation), and a Consumer Exp Index (how much Americans were spending) to measure the health of the economy. From the results we can see that the Employment Index is still relatively strong, meaning people are still working a lot. Although the JOLT Index has not recovered to Pre-Covid Levels it still shows positive growth. Both of these trends point to a healthy economy. Conversely, the CPI and PPI tell us that inflation has risen a decent amount, but with the Fed raising interest rates to prevent a recession this should be of little worry. Most importantly, is that Consumer Expenditure has risen almost to Pre-Covid levels. People's perception of how the economy will do plays a huge role in how it actually does. If nobody's spending money and saving because they fear a crash, than that will lead to less economic activity and spiral. Altogether these indicators point to a healthy economy at least for the time being, and if Walmart wanted to expand this would be a great time to do so.*

**Secondary Question: If Walmart were to expand it's number of locations, when would be the best time for it to do so? When would it have the least amount of competition?**

Justification: Hiring and onboarding can cost a lot, especially for large stores such as Walmart and Sam's Club. By planning their expansions and hiring period during job opening lulls they can be much faster and efficient with their resources.

Features Used:
- Case
- Subquery

In [ ]:
%%sql
SELECT 
	avg_jolt.periodName AS Month, 
	avg_jolt.Average_JOLT_per_Month,
	CASE WHEN avg_jolt.Average_JOLT_per_MONTH < 27.366 THEN 'Good Time to Hire for New Location'
	ELSE 'Not Good Time to Hire for New Location' 
	END AS 'Good Opening Month or Not'
FROM (
	  SELECT 
	  	period,
	    periodName,
	    AVG(value) AS Average_JOLT_per_Month
	  FROM Job_Openings_and_Turnover
	  GROUP BY period
) avg_jolt
ORDER BY period;

*Insights: If Walmart Inc. decided to take my advice and expand, I thought it would be useful to figure out the best times of year to do so. Staffing a large supermarket is no easy feat and they would want to begin hiring when there is the least amount of competition. The data shows that the end of the year Nov and Dec would be the best times as they have the lowest JOLT indexes throughout the entire year. With a less competitive job market (from the employer side), Walmart Inc. will be able to choose from a larger pool of possible employees and hire more productive and dedicated members, eventually leading to overall efficiency improvements and more profit.*

**Secondary Question: How has the landscape of American wealth distribution changed and what can we do to do stay ahead of the curve when it comes to product and price demand?**

Justification: Because I think Walmart should expand I was curious if the consumer market has changed at all and if they should consider switching the products they provide, from cheaper to more high end.

Features Used:
- CTE

In [ ]:
%%sql
WITH yearly_cpi AS (
	SELECT 
		year,
		AVG(value) AS Avg_value
	FROM CPI c 
	GROUP BY year
)
SELECT 
	y.year,
	ROUND(less_than_15_000 + 15_000_to_24_999 + 25_000_to_34_999, 2) AS 0_to_34999,
	ROUND(35_000_to_49_999 + 50_000_to_74_999 + 75_000_to_99_999, 2) AS 35000_to_99999,
 	ROUND(100_000_to_149_999 + 150_000_to_199_999 + 200_000_or_more, 2) AS 100000_or_more,
 	ROUND(Avg_value, 2) AS yearly_cpi
FROM Median_Income_Distribution mid2
  JOIN yearly_cpi y
    ON y.year=mid2.year
ORDER BY year DESC;

*Insights: Initially when I ran this query I neglected to include the CPI (Index of how much goods cost for an average household), and the slight increases between the income brackets led me to believe that maybe they should reconsider their business model. However, if you account for the almost 20% increase in CPI over the last decade, in comparsion to the minute upward movement within the income brackets, it is abundantly clear that they shouldn't. Although there has certainly been an upward trend in income over the past 10 years it pales in comparison to inflation. This means there is much less purchasing power per dollar and overall most Americans are worse off now in terms of disposable income. Households will prioritize getting more bang for their buck, which plays perfectly into Walmart's business model. This leads me to recommend that Walmart Inc. should double down on it's business model and continue to offer very low cost products and brands. Possibly even dedicating more resources to Sam's Club to compete with Costco, maybe through initial discounts on memberships to attract customers.*

**Secondary Question: Are there any demographics of Americans that spend more on food that we can cater to in order to increase customer loyalty and profit?**

Justification: Walmart Inc. gains 60% of it's net sales from food and consumable products. As it is the largest category by volume, expanding our product lines to hold more desirable products to those who usually spend more will be very profitable and helpful in gaining more customers.

Features Used:
- View
- Window

In [ ]:
#Age
%%sql
CREATE OR REPLACE VIEW FAH_above_Average_Age
AS
	SELECT 
		age,
		FAH_per_week_4_year_avg 
	FROM Food_Spending_By_Age fsba
	WHERE FAH_per_week_4_year_avg > 91.8326;

  SELECT 
	age,
 	ROW_NUMBER () OVER (ORDER BY FAH_per_week_4_year_avg ASC) AS 'Row Number'
  FROM FAH_above_Average_Age;

In [ ]:
#Ethnicity
%%sql
CREATE OR REPLACE VIEW FAH_above_Average_Ethnicity
AS
	SELECT 
		ethnicity,
		FAH_per_week_4_year_avg 
	FROM Food_Spending_By_Ethnicity fsba
	WHERE FAH_per_week_4_year_avg > 91.8326;

  SELECT 
	ethnicity,
 	ROW_NUMBER () OVER (ORDER BY FAH_per_week_4_year_avg ASC) AS 'Row Number'
  FROM FAH_above_Average_Ethnicity;

In [ ]:
#Gender
%%sql
CREATE OR REPLACE VIEW FAH_above_Average_Gender
AS
	SELECT 
		gender,
		FAH_per_week_4_year_avg 
	FROM Food_Spending_By_Gender fsba
	WHERE FAH_per_week_4_year_avg > 91.8326;

  SELECT 
	gender,
 	ROW_NUMBER () OVER (ORDER BY FAH_per_week_4_year_avg ASC) AS 'Row Number'
FROM FAH_above_Average_Gender;

*Insights: Since it makes up such a large amount of their inventory, and seems to be a big part of why customers shop there, I thought it would be best to see which demographics in America are more likely to spend on "At-Home" food. The first query shows us that is an older population that generally spends more on at home food, 31-45 tops the list, followed by 46-55 and lastly, 56-65. The second query shows that the ethnicities that spend the more than the average are Other(not African-American, Hispanic, or White) and White. The last query tells us which gender spends more on at home food, which is men. Walmart Inc. can go a multitude of ways with this information. I belive it should encompass expanding to include products that are more popular with these demographics or using more targeted marketing. When consumers realize they can find more of their favorite foods/consumables at Walmart that will build brand loyalty. By altering their most popular category to cater to those who are more likely to spend more they not only get more revenue from food, but by having more customers come in all of their categories will improve. I don't think solely focusing on these demographics would be a good strategy for the business, but a few extra niche products couldn't hurt.